# MongoDB Connection

In [1]:
import pymongo

# Make connection
client = pymongo.MongoClient("localhost",27017)
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [2]:
client.list_database_names()

['admin', 'config', 'firstdb', 'local']

In [3]:
database = client.firstdb
database.list_collection_names()

['pipeline1', 'movies']

In [4]:
database.movies.count_documents({})

77

# Spark Connection

In [5]:
from pyspark.sql import SparkSession

# Initialize SparkSession with MongoDB connector JAR
spark = SparkSession.builder \
    .appName("MongoDB Integration with PySpark") \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1") \
    .getOrCreate()

In [6]:
# MongoDB connection URI
uri = "mongodb://localhost:27017/firstdb.pipeline1"

In [7]:
# Read from MongoDB
df_metadata = spark.read.format("mongo") \
            .option("uri", uri) \
            .load()

In [8]:
# Example: Show the first few rows of the DataFrame
df_metadata.show()

# localFilePath=r'C:\Users\hshind01\nosqlusecase\dynamicDataIngestion\src\file-system'
# localFilePath

+-----------+-----------+----------+----------------+------+------------+-------------+-------------+--------------------+
|ACTIVE_FLAG|SRC_DB_NAME|  SRC_NAME|    SRC_Tab_Name|STATUS|TRGT_DB_NAME|TRGT_SCH_NAME|TRGT_TBL_NAME|                 _id|
+-----------+-----------+----------+----------------+------+------------+-------------+-------------+--------------------+
|          Y|       null|Filesystem|Ball_By_Ball.csv|   TBD|    Targetdb|   Tagretsch1|       Table1|{66a78ab6e6d3b183...|
|          Y|   Ipl_data|Sql_server|        Team.csv|   TBD|    Targetdb|   Tagretsch2|       Table2|{66a78ab6e6d3b183...|
|          Y|       null|Filesystem|Player_match.csv|   TBD|    Targetdb|   Tagretsch1|       Table3|{66a78ab6e6d3b183...|
|          Y|   Ipl_data|Sql_server|      Player.csv|   TBD|    Targetdb|   Tagretsch2|       Table4|{66a78ab6e6d3b183...|
|          Y|       null|Filesystem|       Match.csv|   TBD|    Targetdb|   Tagretsch3|       Table5|{66a78ab6e6d3b183...|
+-----------+-----------+----------+----------------+------+------------+-------------+-------------+--------------------+

'C:\\Users\\hshind01\\nosqlusecase'

In [9]:
# reading Mongodb Metadata function
def readingMongodbMetadata(df_metadata):
       for row in df_metadata.toLocalIterator():
        print(row)
        if row['SRC_NAME']=="filesystem":
                pass 
                    #ingestion from local file system
                    #count no of records from source and store it in another table (validation table)
        else:
            pass
            #from sql server
            #count no of records from source and store it in another table (validation table)

#update metadata function

                
        


# Stop SparkSession
# spark.stop()

In [10]:
# readingMongodbMetadata(df_metadata)